@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.background1 {
    font-family: "Roboto";
    background-color: black;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    color: #ffffff;
    height: 100vh;
}

.bordercolor {
    color: #ffffff;
    height: 50px;
}

.background2 {
    font-family: "Roboto";
    background-color: #ffffff;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.image {
    height: 210px;
}

.text {
    padding-left: 50px;
    align-self: center;
}

.biographySection {
    justify-content: center;

    padding-top: 20px;
    color: #ffffff;
    text-align: center;
}

.bioinfo {
    padding-top: 29px;
    padding-left: 90px;
    padding-right: 90px;

}

.hr {
    display: flex;
    height: 0px;
    padding-left: 90px;
    padding-right: 90px;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 30px;

}